.basic-button {
  width: 6rem;
  margin: 4px;
  border-style: double;
  border-color: transparent;
}

.basic-button:hover {
  width: 6.5rem;
  border-color: black;
  border-style: double;
}

.card-body {
  padding: 0% !important
}

.table {
  margin-bottom: 0% !important;
}
